body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
 background: #fff;
}
* {
  box-sizing: border-box;
  text-decoration: none;

}
.main
{
margin: auto;
padding: 0;
margin-top: 2%;
  width: 95%;
  height: 100%;
 display: flex;
 flex-wrap: wrap;
 background: url(../img/Login.jpg);
 background-repeat: no-repeat;
 background-attachment: fixed;
background-position: 0%,50%;

 box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
 
}
.logo 
{
  margin: auto;
  width: 50%;
  min-width: 240px;
}
.logonav 
{
  float: left;
  margin: 0;
  padding: 0;
  width: 2%;
  min-width: 240px;
  background: #fff;
}
.logonav img {
  width: 100%;
  height: auto;
}
.logo img {
  margin-left: 2%;
  width: 95%;
  height: 100%;
  padding-bottom: 25px;
}
.login
{
  margin: auto;
  width:50%;
  height: 100%;
  padding-top: 5%;
  background: #1c5b80;
  min-width: 240px;
 
}
.contenedor{
  margin: auto;
  width: 100%;
  height: 100%;
  padding: 80px;

  background: #1c5b80;
}
.formulario{

  margin: auto;
  margin-top: 0;
  width: 100%;
  justify-content: center center;
  background:none;

}
h1{
  text-align: center;
  color: #38b6ff;
  font-size: 40px;
}
input[type="text"],
input[type="password"]{
  font-size: 20px;
  width: 82%;
  padding: 10px;
  border: none;
  background: none;
  color: #ffff;
}
.input-contenedor{
  width: 100%;
  overflow: hidden;
  font-size: 20px;
  padding: 8px 0;
  margin: 8px 0;
  border-bottom: 1px solid #38b6ff;
}
.icon{
  min-width: 50px;
  text-align: center;
  color: #38b6ff;
}
.button{
  border: none;
  width: 100%;
  color: white;
  font-size: 20px;
  background:  #38b6ff;
  padding: 15px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.button:hover{
  background:#0e2e40 ;
}
p{
  text-align: center;
  color: #ffff;
}
.link{
  text-decoration: none;
    color: #38b6ff;
  font-weight: 600;
}
.link:hover{
   color: #0e2e40;
}
/*JUAN*/
.cabecera
{
  background: #fff;
  height: 50px;
}
.container{
	width:65%;
	margin:0;
  padding: 0;
  background: #fff;
}
.cabecera .logo{  /* valor del logo*/
	float:left;
	width:40%;
}
a{
	color: #505961;
	-webkit-transition: all .3s;
	-o-transition: all .3s;
	transition: all .3s;
}
a:hover{
	color: #15bbd1;
}
.cabecera .menu{
  float: right;
  
}
.cabecera .menu ul{
	list-style:none;
	position: relative;
	margin:0;
	padding:0;
	

}
.cabecera .menu ul li{
  float: left;

}
.cabecera .menu ul li a{
	padding:0 6px;
	display:block;
	line-height:600%;

}
.cabecera .menu ul li a:hover,.cabecera .menu ul li.active a{ /* color de las letras*/
	color: #fff;
	box-shadow: 0 84px 0 #0fafe0 inset;
	
}
.wrap {
	padding-top: 40px;
	padding-bottom: 40px;
}
.left-wrap,.right-wrap{
	float: left;
	padding: 1em;
} 
.left-wrap{
	width: 760px; 
}
	
.right-wrap {
	width: 380px;
}
.cards
{
  margin: 0;
  padding:0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cardsContainer
{
  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.box
{
position: relative;
width: 300px;
height: 400px;
background: #000;
box-shadow: 0 30px 30px rgba(0, 0, 0, .5);
}
.box .imgCard
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .imgCard img
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
}
.box:hover .imgCard img
{
opacity: 0;
}
.box .contentCards
{
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  background: #ffff;
  transition: 0.5s;
  overflow: hidden;
  padding: 15px;
  box-sizing: border-box;
}
.box:hover .contentCards
{
  width: 100%;
height: 100%;
bottom: 0;
left: 0 ;
}
.box .contentCards h3
{
margin:0;
padding: 0;
font-size: 20px;
}
.box .contentCards p
{
  color: #000;
margin: 10px 0 0;
padding: 0;
opacity: 0;
line-height: 1.2em; 
font-size: 20px;
transition: 0.5s;
text-align: justify;
}
.box:hover .contentCards p
{
opacity: 1;
transition-delay: 0.5s;
}
@media(max-width:600px)
{
  .login
  {
    margin: auto;
    width:50%;
    height: 100%;
    padding-top: 5%;
    background: #1c5b80;
    min-width: 240px;
    margin-bottom: 15px;
  }
  input[type="text"],
  input[type="password"]{
    font-size: 15px;
    width: 82%;
    padding: 10px;
    border: none;
    background: none;
    color: #000;
  }
  .input-contenedor{
    width: 100%;
    overflow: hidden;
    font-size: 20px;
    padding: 8px 0;
    margin: 8px 0;
    border-bottom: 1px solid #38b6ff;
  }
  .icon{
    min-width: 20px;
    text-align: center;
    color: #38b6ff;
  }
  p{
    text-align: center;
    color: #ffff;
    font-size: 10px;
  }
  .button{
    border: none;
    width: 100%;
    color: white;
    font-size: 15px;
    background:  #38b6ff;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  h1{
    text-align: center;
    color: #38b6ff;
    font-size: 30px;
  }
}




























